/* Centra tutto il contenuto */
#questionsContainer {
    -fx-alignment: center;
    -fx-padding: 20;
}

.question-box {
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 15;
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}
